@font-face {
  font-family: 'iconfont';  /* project id 1150032 */
  src: url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.eot');
  src: url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.woff') format('woff'),
  url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1150032_muyzz9p0ly.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou-copy:before {
  content: "\e623";
}

.icon-gouwuche:before {
  content: "\e643";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-sousuo1:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\e609";
}

.icon-plus-minus:before {
  content: "\e728";
}

.icon-xiaomi:before {
  content: "\e832";
}

.icon-smile:before {
  content: "\e673";
}

.icon-jia:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\e61a";
}

.icon-lajixiang:before {
  content: "\e60f";
}

